/***** Reset & Base Style Section *****/
@font-face {
  font-family: "My-font";
  src: url(../DT\ Nightingale/DTNightingale-Light.ttf) format("truetype");
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 1.6rem;
  font-family: "Varela", sans-serif, serif;
}

/***** End Reset & Base Style Section *****/

/***** Typography Section *****/
:root {
  --loading-bg-color: #222;
  --main-bg-color: #f3eada;
  --main-btn-bg-color: #43655a;
  --main-btn-hover-bg-color: #3c524b;
  --navbar-bg-color: #949088;
  --footer-bg-color: #363536;
  --footer-text-color: #fff;
  --copyright-color: #f2e9d9;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

input[type="submit"],
button {
  border: 0;
  outline: 0;
}

.common-sub--heading {
  font-size: 5rem;
  font-family: "My-font", sans-serif, serif;
  font-weight: 600;
  text-transform: capitalize;
  margin: 40px 0 20px;
}

.common-sub--heading2 {
  font-size: 3rem;
  font-family: "My-font", sans-serif, serif;
  font-weight: 600;
  text-transform: capitalize;
  margin: 25px 0 25px;
}

.common-sub--para {
  color: var(--footer-bg-color);
  font-size: 2rem;
}

/***** End Typography Section *****/

/***** Layout/Reusable Section *****/
.container {
  padding: 0 100px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.grid-two--cols {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.line {
  width: 0%;
  height: 2px;
  background-color: #000;
  position: absolute;
  translate: 0;
  animation: line-slide-in 0.6s ease 5s forwards;
  -webkit-animation: line-slide-in 0.6s ease 5s forwards;
}

.last-line {
  bottom: 0;
  animation-delay: 6s;
}

.center-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  & .btn {
    text-align: center;
    background-color: var(--footer-text-color);
    color: #707070;
    display: grid;
    place-items: center;
    padding: 25px;
    width: 150px;
    height: 150px;
    font-size: 2rem;
    font-family: "My-font", sans-serif, serif;
    font-weight: 600;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    cursor: pointer;

    &::after {
      content: "";
      width: 0%;
      border: 1px solid transparent;
      position: absolute;
      bottom: 65px;
      transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      -ms-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
    }
    &:hover {
      color: #000;
      &::after {
        width: 60%;
        border-color: #000;
      }
    }
  }
}

/***** Reusable Animation Section *****/
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(120%);
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-120%);
    -webkit-transform: translateY(-120%);
    -moz-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    -o-transform: translateY(-120%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(120%);
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    -o-transform: translateX(-120%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    -o-transform: translateX(-120%);
    position: absolute;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    position: relative;
    height: 100%;
  }
}

@keyframes left-slide-zoom-in {
  0% {
    opacity: 0;
    scale: 0;
    translate: -120%;
  }
  100% {
    opacity: 1;
    scale: 1;
    translate: 0;
  }
}

@keyframes right-slide-zoom-in {
  0% {
    opacity: 0;
    scale: 0;
    translate: 120%;
  }
  100% {
    opacity: 1;
    scale: 1;
    translate: 0;
  }
}

@keyframes line-slide-in {
  0% {
    width: 0%;
    translate: 0;
  }
  100% {
    translate: 90px;
    width: 91%;
  }
}

/***** End Reusable Animation Section *****/

/***** End Layout/Reusable Section *****/

/***** loading-page Section *****/
.loading-page {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: absolute;
  background-color: var(--loading-bg-color);
  overflow: hidden;
  z-index: 1;

  & .text-reveal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    & span {
      position: relative;
      color: var(--footer-text-color);
      font-size: 5rem;
      font-family: "My-Font", sans-serif, serif;
      opacity: 0;
      transform: translateY(100%);
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      animation: slide-up 0.8s ease forwards;
      -webkit-animation: slide-up 0.8s ease forwards;
    }

    & .star {
      font-size: 10rem;
      position: relative;
      top: -10px;
    }
  }
}

/***** animate loading-page Section *****/
body .loading-page .text-reveal .first-letter {
  animation-delay: 0s;
}

body .loading-page .text-reveal .second-letter {
  animation-delay: 0.2s;
}

body .loading-page .text-reveal .third-letter {
  animation-delay: 0.4s;
}

body .loading-page .text-reveal .fourth-letter {
  animation-delay: 0.6s;
}

body .loading-page .text-reveal .fifth-letter {
  animation-delay: 0.8s;
}

body .loading-page .text-reveal .sixth-letter {
  animation-delay: 1s;
}

body .loading-page .text-reveal .seventh-letter {
  animation-delay: 1.2s;
}

body .loading-page .text-reveal .eight-letter {
  animation-delay: 1.4s;
}

body .loading-page .text-reveal .nineth-letter {
  animation-delay: 1.6s;
}

body .loading-page .text-reveal .tenth-letter {
  animation-delay: 1.8s;
}

/***** End animate loading-page Section *****/

/***** End loading-page Section *****/

/***** Main/Hero Section *****/
main {
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 2;
  background-color: var(--main-bg-color);
  animation: slide-right 0.5s ease 2.7s forwards;
  -webkit-animation: slide-right 0.5s ease 2.7s forwards;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/***** Navbar/Header Section *****/
main .navbar-container {
  padding: 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 20;

  & header {
    width: 100%;
    padding: 15px 100px 8px;
    background-color: rgba(59, 53, 54, 0.5);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: slide-down 0.7s ease 4s forwards;
    -webkit-animation: slide-down 0.7s ease 4s forwards;
    position: relative;
    z-index: 10;

    & .menu-toggler {
      display: none;
    }

    & .hamburger {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 20px;
      cursor: pointer;
      z-index: 20;

      & span {
        display: block;
        height: 3px;
        background: #fff;
        border-radius: 3px;
        transition: 0.3s;
      }
    }

    & .menu-toggler:checked + .hamburger {
      & span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      & span:nth-child(2) {
        opacity: 0;
      }

      & span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }

    & .menu-toggler:checked ~ .navigation-menu {
      transform: translateX(0);
    }

    & .brand-logo a img {
      width: 100px;
      cursor: pointer;
      scale: 1;
      transition: scale ease 0.3s;
      -webkit-transition: scale ease 0.3s;
      -moz-transition: scale ease 0.3s;
      -ms-transition: scale ease 0.3s;
      -o-transition: scale ease 0.3s;

      &:hover {
        scale: 1.2;
      }
    }

    & .navigation-menu {
      display: grid;
      place-items: center;

      & nav ul {
        display: flex;
        text-align: center;

        & li {
          position: relative;
          overflow: hidden;
          height: 21px;
          text-transform: capitalize;
          margin-right: 20px;
          font-weight: 600;
          cursor: pointer;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;

          & .text {
            font-size: 2rem;
            color: var(--copyright-color);
            transition: transform 0.3s ease;
            -webkit-transition: transform 0.3s ease;
            -moz-transition: transform 0.3s ease;
            -ms-transition: transform 0.3s ease;
            -o-transition: transform 0.3s ease;
          }

          & .up {
            color: var(--footer-text-color);
            position: absolute;
            top: 0;
            transform: translateY(120%);
            -webkit-transform: translateY(120%);
            -moz-transform: translateY(120%);
            -ms-transform: translateY(120%);
            -o-transform: translateY(120%);
          }

          &:hover {
            & .text {
              transform: translateY(-120%);
              -webkit-transform: translateY(-120%);
              -moz-transform: translateY(-120%);
              -ms-transform: translateY(-120%);
              -o-transform: translateY(-120%);
            }

            & .up {
              transform: translateY(0);
              -webkit-transform: translateY(0);
              -moz-transform: translateY(0);
              -ms-transform: translateY(0);
              -o-transform: translateY(0);
            }
          }
        }

        & .last-li {
          margin: 0;
        }
      }
    }
  }
}

/***** End Navbar/Header Section *****/

main .container .hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;

  & .first-up {
    margin-top: 5rem;
    overflow: hidden;
  }

  & .second-up {
    overflow: hidden;
  }

  & p {
    font-size: 10rem;
    font-family: "My-font", sans-serif, serif;
    font-weight: 600;
  }

  & .main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: var(--main-btn-bg-color);
    width: 150px;
    height: 50px;
    margin: 80px 0 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    animation: slide-up 0.7s ease 4s forwards;
    -webkit-animation: slide-up 0.7s ease 4s forwards;
    opacity: 0;

    & span {
      position: relative;
      overflow: hidden;

      & div {
        font-size: 2.5rem;
        color: var(--copyright-color);
      }

      & .text {
        transition: transform 0.3s ease;
        -webkit-transition: transform 0.3s ease;
        -moz-transition: transform 0.3s ease;
        -ms-transition: transform 0.3s ease;
        -o-transition: transform 0.3s ease;
      }

      & .up {
        position: absolute;
        top: 0;
        transform: translateY(120%);
        -webkit-transform: translateY(120%);
        -moz-transform: translateY(120%);
        -ms-transform: translateY(120%);
        -o-transform: translateY(120%);
      }
    }

    & .second {
      margin-right: 10px;
    }

    &:hover {
      background-color: var(--main-btn-hover-bg-color);
      & span {
        & .text {
          transform: translateY(-120%);
          -webkit-transform: translateY(-120%);
          -moz-transform: translateY(-120%);
          -ms-transform: translateY(-120%);
          -o-transform: translateY(-120%);
        }

        & .up {
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
        }
      }
    }

    & .first .text,
    .up {
      transition-delay: 0s;
    }

    & .second .text,
    .up {
      transition-delay: 0.04s;
    }

    & .third .text,
    .up {
      transition-delay: 0.08s;
    }

    & .fourth .text,
    .up {
      transition-delay: 0.12s;
    }

    & .fifth .text,
    .up {
      transition-delay: 0.16s;
    }

    & .sixth .text,
    .up {
      transition-delay: 0.2s;
    }
  }

  & .first-up > p {
    animation: slide-up 1s ease 2.5s forwards;
    -webkit-animation: slide-up 1s ease 2.5s forwards;
    opacity: 0;
  }

  & .second-up > p {
    animation: slide-up 1s ease 3s forwards;
    -webkit-animation: slide-up 1s ease 3s forwards;
    opacity: 0;
  }
}

/***** End Main/Hero Section *****/

/***** What I Do Section *****/
main .what-i-do-section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 50px;

  & .container {
    position: relative;
    overflow: hidden;

    & .grid-two--cols {
      & .common-sub--para {
        opacity: 0;
        animation: left-slide-zoom-in 1s linear 5.2s forwards;
        -webkit-animation: left-slide-zoom-in 1s linear 5.2s forwards;
      }

      & img {
        padding: 15px;
        width: 150px;
        opacity: 0;
        animation: right-slide-zoom-in 0.7s linear 5.5s forwards;
        -webkit-animation: right-slide-zoom-in 0.7s linear 5.5s forwards;
        cursor: pointer;

        &:hover {
          filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
          -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
          scale: 1.1;
        }
      }
    }
    & .btn {
      animation: slide-up 0.5s ease 5s forwards;
      -webkit-animation: slide-up 0.5s ease 5s forwards;
    }
  }
}

/***** End What I Do Section *****/

/***** About Section *****/
main .about-section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 50px;

  & .container {
    overflow: hidden;

    & .grid-two--cols {
      & .common-sub--para {
        opacity: 0;
        animation: right-slide-zoom-in 0.7s linear 6.5s forwards;
        -webkit-animation: right-slide-zoom-in 0.7s linear 6.5s forwards;
      }

      & img {
        width: 150px;
        opacity: 0;
        animation: left-slide-zoom-in 0.7s linear 7s forwards;
        -webkit-animation: left-slide-zoom-in 0.7s linear 7s forwards;

        &:hover {
          filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
          -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
          scale: 1.1;
        }
      }
    }
  }

  & .center-btn {
    overflow: hidden;
  }

  & .btn {
    animation: slide-down 0.5s ease 6.8s forwards;
    -webkit-animation: slide-down 0.5s ease 6.8s forwards;
  }
}
/***** End About Section *****/

/***** Projects Section *****/
main .project-section {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 30px;
  margin-top: 50px;

  & .container {
    width: 100%;
    height: 100%;
    position: relative;

    & .projects {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      cursor: pointer;

      & .common-sub--heading2 {
        color: #7e7e7e;
        position: relative;
        scale: 1;
        left: 0;
        transition: all 0.4s linear;
        -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
      }

      & img {
        width: 500px;
        position: absolute;
        z-index: 10;
        opacity: 0;
        left: 32%;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transform: translateY(-120%);
        -webkit-transform: translateY(-120%);
        -moz-transform: translateY(-120%);
        -ms-transform: translateY(-120%);
        -o-transform: translateY(-120%);
        scale: 0;
      }

      & .project-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        right: 0;
        scale: 1;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;

        & .common-sub--para {
          color: #ccc;
          transition: all 0.4s ease;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
        }
      }

      &:hover {
        & .common-sub--heading2 {
          left: 2.5%;
          scale: 1.1;
          color: #000;
        }

        & .project-details {
          right: 2.5%;
          scale: 1.1;

          & .common-sub--para {
            color: var(--footer-bg-color);
          }
        }

        & img {
          opacity: 1;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          scale: 1;
        }
      }
    }

    & .last-project {
      & img {
        bottom: 0;
      }
    }

    & .bottom-line {
      width: 100%;
      height: 2px;
      background-color: #000;
    }
  }

  & .last-container {
    margin-bottom: 0;
  }
}

/***** End Projects Section *****/

/***** Footer Section *****/
footer {
  width: 100%;
  height: 0%;
  opacity: 0;
  position: absolute;
  z-index: 2;
  background-color: var(--footer-bg-color);
  animation: slide-right 0.5s ease 2.7s forwards;
  -webkit-animation: slide-right 0.5s ease 2.7s forwards;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

footer {
  & .scrolling-headline {
    display: flex;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    & .headline {
      position: sticky;
      top: 0;
      display: flex;
      animation: headline 10s linear infinite;
      -webkit-animation: headline 10s linear infinite;

      & .common-sub--heading {
        color: var(--footer-text-color);
        display: inline-block;
        margin-right: 20px;
      }
    }
    &:hover {
      & .headline,
      .headline-delay {
        animation-play-state: paused;
      }
    }
  }

  & .bottom-line {
    width: 100%;
    height: 2px;
    background-color: var(--footer-text-color);
    margin: 0 0 8px;
  }
}

@keyframes headline {
  0% {
    translate: 0%;
  }
  100% {
    translate: -100%;
  }
}

footer .container {
  margin-bottom: 0;
  padding-bottom: 30px;

  & .contact-page {
    width: 100%;
    margin-bottom: 5px;
    grid-template-columns: 2fr 1fr;

    & .common-sub--heading2 {
      color: var(--footer-text-color);
    }

    & form {
      & .grid-two--cols {
        margin-bottom: 0px;
      }

      & .flex-form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 20px;
      }

      & label {
        color: var(--footer-text-color);
        font-family: "My-font", sans-serif, serif;
        font-weight: 600;
      }

      & input,
      textarea {
        padding: 5px 10px;
        outline: none;
        border: none;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
      }

      & input::placeholder,
      textarea::placeholder {
        color: #7272728e;
      }

      & .button {
        width: 100px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        cursor: pointer;

        & input {
          cursor: pointer;
          background-color: rgb(240, 240, 240);
          color: var(--navbar-bg-color);
          border: none;
          outline: none;
          transition: all 0.4s ease;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
        }

        &:hover {
          & input {
            background-color: var(--footer-text-color);
            color: #000;
          }
        }
      }
    }

    & img {
      width: 350px;
    }
  }

  & .social-media {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    & .img-1 {
      cursor: pointer;
      width: 25px;
      height: 25px;
      margin-right: 15px;
      background-image: url(./images/github-mark-c791e9551fe4/github-mark/github-mark.svg);
      background-position: center;
      background-size: cover;
      cursor: pointer;
      transition: all 0.4s linear;
      -webkit-transition: all 0.4s linear;
      -moz-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;

      &:hover {
        background-image: url(./images/github-mark-c791e9551fe4/github-mark/github-mark-white.svg);
      }
    }

    & .img-2 {
      cursor: pointer;
      width: 30px;
      height: 30px;
      background-image: url(./images/email-svgrepo-com.svg);
      background-position: center;
      background-size: cover;
      cursor: pointer;
      transition: all 0.4s linear;
      -webkit-transition: all 0.4s linear;
      -moz-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;

      &:hover {
        background-image: url(./images/email-svgrepo-white-com.svg);
      }
    }
  }

  & .copyright {
    color: var(--copyright-color);
    font-size: 1.5rem;
  }
}

/***** End Footer Section *****/

/***** Media Query Section *****/
@media (width>=900px) {
  html {
    font-size: 62.5%;
  }
}

@media (width<900px) {
  html {
    font-size: 52.5%;
  }

  main .project-section .container .projects {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

    & img {
      width: 400px;
    }

    & .project-details {
      align-items: flex-start;
      left: 0;
    }

    &:hover {
      & .project-details {
        left: 2.5%;
      }
    }
  }

  footer .container {
    padding: 0 50px 30px;
  }
}

@media (width<800px) {
  html {
    font-size: 42.5%;
  }

  main .navbar-container header {
    & .navigation-menu nav ul li {
      height: 18px;
    }

    & .brand-logo a img {
      width: 80px;
    }
  }

  main .project-section .container .projects {
    & img {
      width: 300px;
    }
  }
}

@media (width<700px) {
  html {
    font-size: 35%;
  }

  .container {
    padding: 0 70px;
  }

  main .navbar-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    & header {
      flex-direction: row;

      & .hamburger {
        display: flex;
      }

      & .navigation-menu {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(59, 53, 54, 0.5);
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
        z-index: 15;
        -webkit-transition: transform 0.4s ease-in-out;
        -moz-transition: transform 0.4s ease-in-out;
        -ms-transition: transform 0.4s ease-in-out;
        -o-transition: transform 0.4s ease-in-out;

        & nav ul {
          text-align: left;
          width: 100%;
          height: 100%;

          & li {
            height: 15px;
            margin-bottom: 10px;

            & a .text {
              display: block;
              transition: all 0.3s ease;
              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
            }

            & .up {
              display: none;
            }
          }
        }
      }

      & .brand-logo a img {
        width: 70px;
      }
    }
  }

  main .project-section .container .projects {
    & img {
      width: 250px;
    }
  }
}

@media (width<500px) {
  html {
    font-size: 30%;
  }

  footer .container {
    padding: 0 10px 30px;
  }
}

@media (width<400px) {
  html {
    font-size: 25%;
  }

  .container {
    padding: 0 25px;
  }

  .grid-two--cols {
    grid-template-columns: 1fr;
  }

  @keyframes line-slide-in {
    0% {
      width: 0%;
      translate: 0;
    }
    100% {
      translate: 25px;
      width: 91%;
    }
  }

  .center-btn .btn {
    width: 70px;
    height: 70px;
    align-self: center;

    &::after {
      display: none;
    }
  }

  main .navbar-container {
    & header {
      & .navigation-menu {
        margin-top: 10px;

        & nav ul li {
          height: 10px;
        }
      }
    }
  }

  main .project-section .container .projects {
    & img {
      width: 200px;
    }
  }

  footer .container {
    padding: 0 25px 30px;
    & .contact-page {
      grid-template-columns: 1fr;

      & img {
        order: -1;
        width: 300px;
      }
    }
  }
}
/***** End Media Query Section *****/
